<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>Scraper {{ title() }}</h1>

<main class="main">
  <div class="content">
    <div class="left-side">

      <p>Choose dates and start scraping! 🎉</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="flex flex-wrap items-end justify-center gap-6 p-4">
        <!-- Start Date Field -->
        <div class="flex flex-col gap-2">
          <label for="date-start" class="font-bold block">Start</label>
          <p-datepicker id="date-start" [(ngModel)]="date_start" dateFormat="yy-mm-dd" />
        </div>

        <!-- End Date Field -->
        <div class="flex flex-col gap-2">
          <label for="date-end" class="font-bold block">End</label>
          <p-datepicker id="date-end" [(ngModel)]="date_end" dateFormat="yy-mm-dd" />
        </div>

        <!-- Scrape Action Button -->
        <button pButton type="button" label="Scrape" icon="pi pi-check" (click)="handleScrape($event)"></button>
        <!-- Clear Button (Only shows if table has rows) -->
        @if (scrapeResultsList.length > 0) {
        <p-button label="Clear" icon="pi pi-trash" severity="danger" variant="outlined" (onClick)="clearTable()" />
        }
      </div>
    </div>
  </div>
</main>

<!-- Table displays only when scrapeData contains values -->
@if (scrapeResultsList.length > 0) {
<div class="card mt-5 p-4">
  <!-- Notice the explicit function call () for the signal value -->
  <p-table [value]="scrapeResultsList" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Giorno</th>
        <th>INCASSO TOT</th>
        <th>Annulli</th>
        <th>Addebiti</th>
        <th>INCASSO PRANZO</th>
        <th>INCASSO CENA</th>
        <th>COPERTI</th>
        <th>COPERTI PRANZO</th>
        <th>COPERTI CENA</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td><span class="font-bold text-blue-600">{{ data.day }}</span></td>
        <td>{{ data.result.incasso }}</td>
        <td>{{ data.result.annulli }}</td>
        <td>{{ data.result.addebiti }}</td>
        <td>{{ data.result_pranzo.incasso }}</td>
        <td>{{ data.result_cena.incasso }}</td>
        <td><span class="p-badge p-badge-info">{{ data.result.coperti }}</span></td>
        <td>{{ data.result_pranzo.coperti }}</td>
        <td>{{ data.result_cena.coperti }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
}

@if (loading) {
<div class="flex justify-content-center" style="min-height: 100vh">
  <div class="card" [style]="{'width': '50%'}">
    <p-progressbar [value]="loading_value" />
  </div>
</div>
}


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />